


/*FLEX IMAGE GRID*/

.fleximagegrid {
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-wrap: wrap;
}

.fleximagegrid a {
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  -webkit-align-items: center;
	justify-content: center;
  -webkit-justify-content: center;
  flex: 1 0 25%;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  height: 8rem;
}

.fleximagegrid img {
	max-width: 80%;
	max-height: 74%;
}

@media (max-width: 840px) {

	.fleximagegrid a {
		flex: 1 0 33.3333333333%;
  	-webkit-flex: 1 0 33.3333333333%;
  	-ms-flex: 1 0 33.3333333333%;
	}

}

@media (max-width: 550px) {

	.fleximagegrid a {
		flex: 1 0 50%;
  	-webkit-flex: 1 0 50%;
  	-ms-flex: 1 0 50%;
	}

}
