
/*FLEXGRID.CSS*/

.fleximagegrid {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.fleximagegrid a {   /*you can always change this to a div */
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-basis: 25%;
  -webkit-flex-basis: 25%;
  -ms-flex-basis: 25%;
  height: 8rem;
}

.fleximagegrid img {
  max-width: 80%;
  max-height: 74%;
}

@media (max-width: 840px) {

  .fleximagegrid a {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
  }

}

@media (max-width: 550px) {

  .fleximagegrid a {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
  }

}

