
/*SIMPLEFLEX PRESENTATION PAGE*/

    #sq {
      width: 40px;
      height: 40px;
      background: #eee;
    }

    #sqlt {
      width: 40px;
      height: 40px;
      background: #ddd;
    }

    #sqlter {
      width: 40px;
      height: 40px;
      background: #ccc;
    }

    #example > div {
      margin: 0px 0px 44px 0px;
    }

    #example > div p {
      width: 420px;
      margin-left: 20px;
      letter-spacing: 0.03rem;
      line-height: 1.6;
    }

    #example > div .showbox {
      margin-left: 50px;
      width: 400px;
      min-height: 140px;
      border: 1px dotted #ccc;
    }
